streamlit==1.39.0
git+https://github.com/ChaoningZhang/MobileSAM.git
opencv-python-headless
scipy
numpy
matplotlib
torch
torchvision
Pillow
timm
streamlit-drawable-canvas
streamlit-javascript
pandas
-e .
